{
  "plugins": ["@prettier/plugin-php", "prettier-plugin-tailwindcss"],
  "bracketSameLine": true,
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": "**/*.php",
      "options": {
        "parser": "html"
      }
    }
  ]
}
