@layer base {
  body {
    @apply text-sm leading-[1.4] text-[#1A1A1A] md:text-lg;
  }

  h1 {
    @apply text-[40px] leading-[1.2] font-semibold md:text-[56px];
  }

  h2 {
    @apply text-3xl leading-[1.2] font-semibold md:text-[40px];
  }

  h3 {
    @apply text-lg leading-[1.2] font-medium md:text-xl;
  }

  h4 {
    @apply text-base leading-[1.2] font-semibold;
  }

  a {
    @apply hover:text-primary transition-colors duration-300;
  }

  mark {
    @apply text-primary bg-transparent;
  }
}
