@layer base {
  body {
    @apply text-[#1A1A1A];
  }

  h1 {
    @apply text-4xl leading-[120%] font-semibold md:text-5xl;
  }

  h2 {
    @apply text-3xl leading-[120%] font-semibold md:text-4xl;
  }

  h3 {
    @apply text-lg leading-[120%] font-medium md:text-xl;
  }

  mark {
    @apply text-primary bg-transparent;
  }
}
