@layer base {
  body {
    @apply leading-[1.4] text-[#1A1A1A];
  }

  h1 {
    @apply text-4xl leading-[1.2] font-semibold md:text-5xl;
  }

  h2 {
    @apply text-3xl leading-[1.2] font-semibold md:text-4xl;
  }

  h3 {
    @apply text-lg leading-[1.2] font-medium md:text-xl;
  }

  h4 {
    @apply text-base leading-[1.2] font-medium md:text-lg;
  }

  a {
    @apply hover:text-primary transition-colors duration-300;
  }

  mark {
    @apply text-primary bg-transparent;
  }
}
