/* Кастомные стили скроллбара */
@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-white);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 5px;
    border: 2px solid var(--color-white);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-light);
  }
}

/* Кастомные стили селектора телефона */
.iti__selected-dial-code {
  font-size: 14px;
}

.iti__selected-country-primary {
  padding: 0 6px 0 12px;
  border-radius: 10px;
}

.iti__tel-input {
  padding-left: 90px !important;
}

html.intltel-loading .iti__dropdown-content {
  display: none !important;
}
