@import "tailwindcss";

/* Указываем, откуда Tailwind должен забирать классы */
@source "../../dist/*.{html,php}";
@source "../../dist/components/**/*.{html,php}";

@theme {
	--color-primary: #ff4757;

	--spacing-container: 1224px;
}

@utility bs-content {
	box-sizing: content-box;
}
