@import "tailwindcss";
@import "tailwindcss/preflight";

/* Указываем, откуда Tailwind должен забирать классы */
@source "../../dist/*.{html,php}";
@source "../../dist/components/**/*.{html,php}";

@theme {
	--color-primary: #ff4757;

	--spacing-container: 1248px;
}
