@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

/* Указываем, откуда Tailwind должен забирать классы */
@source '../../dist/*.{html,php}';
@source '../../dist/components/**/*.{html,php}';

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-primary-lighter: #fff8f8;
  --color-primary-light: #ff707c;
  --color-primary: #ff4757;
  --color-primary-dark: #e82939;

  --spacing-container: 1224px;
}

@layer base {
  body {
    @apply text-[#1A1A1A];
  }
}

@utility bs-content {
  box-sizing: content-box;
}

.link {
  @apply hover:text-primary transition-colors duration-300;
}

.btn-primary {
  @apply bg-primary hover:bg-primary-dark inline-flex min-h-10 cursor-pointer items-center justify-center rounded-[10px] px-5 py-1.5 font-medium whitespace-nowrap text-white transition-colors;
}

/* Кастомные стили скроллбара */
@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-white);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 5px;
    border: 2px solid var(--color-white);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-light);
  }
}
