@utility special-block {
  border: 1px solid transparent;
  background: linear-gradient(-30deg, var(--color-primary) 0%, white 100%);
  background-origin: border-box;
  box-shadow:
    inset 0 0 0 999px white,
    6px 5px 18.1px 0 rgba(39, 39, 39, 0.14);
}

@utility special-block-lightest {
  border: 1px solid transparent;
  background: linear-gradient(-30deg, var(--color-primary) 0%, white 100%);
  background-origin: border-box;
  box-shadow:
    inset 0 0 0 999px var(--color-primary-lightest),
    6px 5px 18.1px 0 rgba(39, 39, 39, 0.14);
}
