@layer utilities {
  .h1 {
    @apply text-4xl leading-[120%] font-semibold md:text-5xl;
  }

  .h2 {
    @apply text-3xl leading-[120%] font-semibold md:text-4xl;
  }

  .h3 {
    @apply text-lg leading-[120%] font-medium md:text-xl;
  }

  .content-container {
    @apply max-w-container mx-auto box-content px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20;
  }

  .link {
    @apply hover:text-primary transition-colors duration-300;
  }

  .label {
    @apply text-sm leading-[140%];
  }
}
