.footer {
	background-color: var(--color-primary-lightest);
	padding: 56px 0;
	// .footer__body
	&__body {
		display: grid;
		gap: 40px;
		@media (max-width: 767.98px) {
			gap: 28px;
		}
	}
	// .footer__main
	&__main {
		display: grid;
		gap: 20px;
	}
	// .footer__top
	&__top {
		align-items: center;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 12px 32px;

		@media (max-width: 767.98px) {
			flex-direction: column;
			align-items: start;
		}
	}
	// .footer__logo
	&__logo {
		font-size: 20px;
		font-weight: 500;
		text-transform: uppercase;
		@media (max-width: 767.98px) {
			padding-right: 112px;
		}
	}
	// .footer__menu
	&__menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 20px;
		max-width: 755px;
		flex-grow: 1;

		@media (max-width: 767.98px) {
			flex-direction: column;
			justify-content: start;
		}
	}
	// .footer__list
	&__list {
		display: flex;
		gap: 0 48px;

		@media (max-width: 767.98px) {
			gap: 16px 20px;
			flex-direction: column;
		}

		// .footer__list_policy
		&_policy {
			gap: 16px 20px;
		}
	}
	// .footer__langs
	&__langs {
		@media (max-width: 767.98px) {
			position: absolute;
			top: -6px;
			right: 0;
		}
	}
	// .footer__bottom
	&__bottom {
		display: inline-flex;
		align-items: center;
		gap: 8px;
	}
	// .footer__text
	&__text {
		display: grid;
		gap: 10px;
		font-size: 14px;
		color: gray;
	}
	// .footer__copy
	&__copy {
		text-align: center;
	}
}
