.header {
	position: relative;
	z-index: 10;
	background-color: #ffffff;
	min-height: 80px;
	padding: 20px 0px;
	box-shadow: 2px 2px 6px 0px rgba(34, 60, 80, 0.1);
	@media (max-width: 767.98px) {
		min-height: 64px;
		padding: 12px 0px;
	}

	// .header__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 32px;
	}

	// .header__actions
	&__actions {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	// .header__langs
	&__langs {
		display: block;
		@media (max-width: 639.98px) {
			display: none;
		}
	}

	// .header__btn
	&__btn {
		white-space: nowrap;
	}
}

.header-menu {
	display: flex;
	flex-grow: 1;
	justify-content: center;

	@media (max-width: 767.98px) {
		display: none;
	}

	// .header-menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 8px 56px;
		@media (max-width: 1023.98px) {
			gap: 8px 40px;
		}
		@media (max-width: 767.98px) {
			gap: 8px 24px;
		}
	}
}

.mobile-menu {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 50;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 300px;
	min-width: 250px;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);
	opacity: 0;
	gap: 32px;
	padding: 32px;
	border-radius: 24px;
	background-color: #ffffff;
	box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
	transition: all 0.3s ease-out;
	&[data-active] {
		pointer-events: auto;
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
	// .mobile-menu__langs
	&__langs {
		@media (min-width: 640px) {
			display: none;
		}
	}

	// .mobile-menu__list
	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		row-gap: 32px;
	}

	// .mobile-menu__link
	&__link {
		font-size: 20px;
	}
}
