.container {
	margin: 0 auto;
	box-sizing: content-box;

	max-width: var(--spacing-container);

	padding-left: 80px;
	padding-right: 80px;

	@media (max-width: 1279.98px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media (max-width: 1023.98px) {
		padding-left: 48px;
		padding-right: 48px;
	}

	@media (max-width: 767.98px) {
		padding-left: 32px;
		padding-right: 32px;
	}

	@media (max-width: 639.98px) {
		padding-left: 24px;
		padding-right: 24px;
	}

	@media (max-width: 449.98px) {
		padding-left: 16px;
		padding-right: 16px;
	}

	// .container_narrow
	&_narrow {
		max-width: var(--spacing-container-narrow);
	}

	// .container_whide
	&_whide {
		max-width: var(--spacing-container-whide);
	}
}

.special-block {
	border: 1px solid transparent;
	background: linear-gradient(-30deg, var(--color-primary) 0%, white 100%);
	background-origin: border-box;
	box-shadow:
		inset 0 0 0 999px white,
		6px 5px 18.1px 0 rgba(39, 39, 39, 0.14);
}

.special-block-lightest {
	border: 1px solid transparent;
	background: linear-gradient(-30deg, var(--color-primary) 0%, white 100%);
	background-origin: border-box;
	box-shadow:
		inset 0 0 0 999px var(--color-primary-lightest),
		6px 5px 18.1px 0 rgba(39, 39, 39, 0.14);

	@media (max-width: 767.98px) {
		box-shadow:
			inset 0 0 0 999px white,
			6px 5px 18.1px 0 rgba(39, 39, 39, 0.14);
	}
}
